@import "tailwindcss";

@theme {
  /* We will add our custom colors here later */
  --font-sans: var(--font-jakarta);
}

/* Reset for the project */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
}